<!DOCTYPE HTML PUBLIC>
<HTML>
   <HEAD>
      <TITLE>My first HTML document</TITLE>


      <link rel="stylesheet" href="css/styles.css">

   </HEAD>
   <BODY>
      <section class="top-banner">
  <div class="container">
    <h1 class="heading">Simple Weather App</h1>
    <form>
      <input type="text" placeholder="Search for a city" autofocus>
      <button type="submit">SUBMIT</button>
      <span class="msg"></span>
    </form>
  </div>

   <div id="result">
        <!--Position information will be inserted here-->
    </div>
    <button type="button" onclick="showPosition();">Show Position</button>


</section>



<section class="ajax-section">
  <div class="container">
    <ul class="cities"></ul>
  </div>
</section>
<footer class="page-footer">
  <div class="container">
    <small>Made with <span>❤</span> by <a href="http://georgemartsoukos.com/" target="_blank">George Martsoukos</a>
    </small>
  </div>
</footer>
   </BODY>

<script src="js/script.js"></script>

<script>
    function showPosition() {
        if(navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var positionInfo = "Your current position is (" + "Latitude: " + position.coords.latitude + ", " + "Longitude: " + position.coords.longitude + ")";
                document.getElementById("result").innerHTML = positionInfo;
            });
        } else {
            alert("Sorry, your browser does not support HTML5 geolocation.");
        }
    }
</script>
</HTML>
</HTML>


