<!DOCTYPE HTML PUBLIC>
<HTML>
   <HEAD>
      <TITLE>CLIMA-X-CIUDAD</TITLE>


      <link rel="stylesheet" href="css/styles.css">

   </HEAD>
   <BODY>
      <section class="top-banner">
  <div class="container">
    <h1 class="heading">Clima - API</h1>
    <form>
      <input type="text" id="ciudadInsertada" placeholder="Ingresa una ciudad" autofocus>
      <button type="submit" id="botonPrincipal" value="este"  onclick="insertar(this);">SUBMIT</button>
      <span class="msg"></span>
    </form>
  </div>

   <div id="result">
        <!--Position information will be inserted here-->
    </div>
    <button type="button" onclick="getLocation();">Mostrar posición actual</button>

<div id="map"></div>
</section>



<section class="ajax-section">
  <div class="container">
    <ul class="cities"></ul>
  </div>
</section>
   </BODY>

<script src="js/script.js"></script>
<script>
function getLocation() {
  if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);

  } else {
    document.getElementById("result").innerHTML = "Geolocation is not supported by this browser.";
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
   document.getElementById("result").innerHTML = "Latitud: " + position.coords.latitude + " - " + "Longitud: " +  position.coords.longitude;
}



</script>

<script>
function insertar(x){
//  var a = document.getElementById("ciudadInsertada").focus();
   var buttonValue = document.getElementById('ciudadInsertada').value;
alert("Hello! I am an alert box!!" + buttonValue);
console.log(buttonValue);
}
</script>


</HTML>
</HTML>


