<!DOCTYPE HTML PUBLIC>
<HTML>
   <HEAD>
      <TITLE>CLIMA-X-CIUDAD</TITLE>


      <link rel="stylesheet" href="css/styles.css">

   </HEAD>
   <BODY>




<section class="ajax-section">
  <div class="container">
    <ul class="cities"></ul>
  </div>
</section>

<h1 style="color: white;">{{ value }}</h1>





{% for flashMessage in app.session.flashbag.get('notice') %}

<div class="alert alert-success">
    {{ flashMessage }}
</div>

{% endfor %}



   </BODY>

<!--<script src="js/script.js"></script>-->
<script>
function getLocation() {
  if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);

  } else {
    document.getElementById("result").innerHTML = "Geolocation is not supported by this browser.";
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
   document.getElementById("result").innerHTML = "Latitud: " + position.coords.latitude + " - " + "Longitud: " +  position.coords.longitude;
}



</script>

<script>
function activar(){
  var formulario = document.getElementById("myform");   
  //Aqui tu codigo para mostrar tus objetos
  formulario.submit();

}





function insertar(x){

let buttonValue = document.getElementById('ciudadInsertada').value;
 
}
</script>


</HTML>
</HTML>


